@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

ion-toolbar{
    font-style: normal;
    font-weight: normal;
    font-size: 24px;
    line-height: 20px;
    text-align: center;
    color: #FFFFFF;
    width: 100%;
    --ion-color-primary:#008FEA;
    }

    ion-content{
        background-color: white;
        color:black;
        padding: 8px;
        font-family: Rubik;
    }
    
    #Login, p{
        font-family: Rubik;
    }
    
     #cont{
        font-family: Rubik;
    }
    
    #txt{
        position: relative;
        margin: 50px;
    }
    
    ion-avatar{
    
        height: 60px;
        padding: 4px;
    }
    
    
    ion-title{
        font-family: Rubik;
    background-color: #008FEA;
    color: white;
    margin: auto;
    position: fixed;
    top: 0px;
    padding: 15px;
    left: 60px;
    }
    
    #corpocadastro{
        color: black;
       background:white;
       margin-left: 2px;
       font-family: Rubik;
    }

    ion-input{
    margin-left: 2px;
    padding: 8px;
    font-family: Rubik;
    width: 500px;
    }

    #cidade{
        width: 230px;
        display: inline-block;
    }

    #Peso{
        display: inline-block;
        width: 205px;
    }

    #Alergias{
        display: inline-block;
        width: 243px;
    }

    select{
        background-color: white;
        color:black;
        padding: 8px;
        border-color: #008FEA;
        border-radius: 12px;
        font-family: Rubik;
      }

    ion-item{
        --background:#fff;
        --color:black;
    }
    
    #UF{
        background:white;
        font-family: Rubik;
        width: 85px;
    
    }
    #Genero{
        background:white;
        display: inline-block;
        width: 110px;
        margin-left: 0px;
        
    
    }
    
    #dataNascimento{
        background:white;
        opacity: 0.35;
        display: inline-block;
    
    }

    #DataNasc{
        background-color: white;
    color:black;
    margin: 10px;
    padding: 5px;
    border-color: #008FEA;
    border-radius: 12px;
    text-align: center;
    font-family: Rubik;
    width: 165px;
    }
    #tipoSanguineo{
        background:white;
    }

    #contato, #emergencia{
        margin-bottom: 5px;
        background-color: white;
        border:none;
        font-family: Rubik;
    }
    
    ion-toggle {
        --background: #76cbff;
        --background-checked: #008fea;
        font-family: Rubik;
        --handle-background: #008fea;
        --handle-background-checked: #76cbff;
        width: 50px;
        height: 30px;
      }
    
    nav {
        margin: 0 auto;
        background: #008FEA;
      width: 100%;
      position: fixed;
      bottom: 0;
      left: 0;
    }
    
    nav ul {
        padding: 0;
        margin: 0;
        list-style: none;
    }
    
    nav ul li {
        float: left;
        position: relative;
    }
    
    nav ul li a {
        display: block;
        text-decoration: none;
        padding: 1.3rem;
    }
    
    nav ul li ul li {
        min-width: 190px;}