<ion-header [translucent]="true">
  <ion-toolbar color='primary' layout_gravity="center">

    <ion-avatar>
      <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTXuadkjUZgLRloX8Lm8kgbi07xcyWkHSDkag&usqp=CAU">
    </ion-avatar>
    <ion-title>
      <label id="txt"><strong> {{texto}}</strong></label>
    </ion-title>



  </ion-toolbar>
</ion-header>

<ion-content>

  <div id="corpocadastro">
    <ion-item>
      <div class="form-group">

        <p>
          <ion-icon name="key-outline"></ion-icon>
          <label id="Login"><strong> Login </strong></label>

          <ion-input type="text" placeholder="Nome" id="nome"></ion-input>
          <ion-input type="email" placeholder="e-mail" id="e-mail"></ion-input>
          <ion-input type="password" placeholder="Senha" id="senha"></ion-input>
          <ion-input type="password" placeholder="Confirmar senha" id="confirmar senha"></ion-input>

        </p>

      </div>
    </ion-item>

    <ion-item>
      <div>
        <p>
          <ion-icon name="call-outline"></ion-icon>
          <label id="cont"><strong> Contato </strong></label>
          <ion-input type="number" placeholder="Telefone de contato" id="contato"></ion-input>
          <ion-input type="number" placeholder="Telefone para emergência" id="emergencia"></ion-input>

      </div>
    </ion-item>

    <ion-item>
      <div>
        <p></p>
        <ion-icon name="location-outline"></ion-icon>
        <label id="cont"><strong> Endereço </strong></label>
        <div class="form-group">
          <ion-input type="text" placeholder="Cidade" id="cidade"></ion-input>
          <select class="form-control" name="UF" id="UF">
            <option hidden selected="true">UF</option>
            <option value="1">AC</option>
            <option value="2">AL</option>
            <option value="3">AP</option>
            <option value="4">AM</option>
            <option value="5">BA</option>
            <option value="6">CE</option>
            <option value="7">DF</option>
            <option value="8">ES</option>
            <option value="9">GO</option>
            <option value="10">MA</option>
            <option value="11">MT</option>
            <option value="12">MS</option>
            <option value="13">MG</option>
            <option value="14">PA</option>
            <option value="15">PB</option>
            <option value="16">PR</option>
            <option value="17">PE</option>
            <option value="18">PI</option>
            <option value="19">RJ</option>
            <option value="20">RN</option>
            <option value="21">RS</option>
            <option value="22">RO</option>
            <option value="23">RR</option>
            <option value="24">SC</option>
            <option value="25">SP</option>
            <option value="26">SE</option>
            <option value="27">TO</option>
          </select>
          <ion-input type="number" placeholder="CEP" id="CEP"></ion-input>
          <ion-input type="text" placeholder="Logradouro" id="logradouro"></ion-input>
          <ion-input type="text" placeholder="Número" id="numero"></ion-input>
          <ion-input type="text" placeholder="Bairro" id="bairro"></ion-input>
        </div>
      </div>
    </ion-item>

    <ion-item>
      <div class="form-group">
        <p></p>
        <ion-icon name="clipboard-outline"></ion-icon>
        <label id="cont"><strong> Ficha Médica</strong></label>
        <br>
        <ion-input type="text" placeholder="Alergias" id="Alergias"></ion-input>
        <select class="form-control" name="tipo Sanguineo" id="tipoSanguineo">
          <option value="1">A+</option>
          <option value="2">A-</option>
          <option value="3">B+</option>
          <option value="4">B-</option>
          <option value="5">AB+</option>
          <option value="6">AB-</option>
          <option value="7">0+</option>
          <option value="8">O-</option>
        </select>
        <p></p>
        <ion-input type="number" placeholder="Peso/Kg" id="Peso"></ion-input>
        <select class="form-control" id="Genero" name="Gênero">
          <option hidden value="true">Gênero</option>
          <option value="1">Feminino</option>
          <option value="2">Masculino</option>
          <option value="3">Outro</option>
        </select>
        <p></p>
        <ion-input type="number" placeholder="Altura/cm" id="Altura"></ion-input>
        <label id="dataNascimento"> Data de Nascimento </label>
        <input type="date" name="DataNascimento" id="DataNasc">

      </div>
    </ion-item>
<br>
    <ion-item>
    <ion-toggle [(ngModel)]="switch"></ion-toggle>
    <p> {{switch ? 'Dados atualizados': 'Dados não atualizados '}}</p>
  </ion-item>
  </div>
  <br><br><br><br>
</ion-content>

<nav id="barra_navegacao">
  <ul>
    <li><a href="../busca-local/"><img src="https://img.icons8.com/ios-filled/30/000000/pharmacy-shop.png" /></a></li>
    <li><a href="../meus-alarmes/"><img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/30/000000/external-tablets-hospital-healthcare-flatart-icons-solid-flatarticons.png" /></a>
    </li>
    <li><a href="../home/"><img src="https://img.icons8.com/ios-filled/30/000000/home.png" /></a></li>
    <li><a href="../carteira-de-vacinacao/"><img
                src="https://img.icons8.com/external-wanicon-solid-wanicon/30/000000/external-vaccine-health-checkup-wanicon-solid-wanicon.png" /></a>
    </li>
    <li><a href="../busca-posto/"><img src="https://img.icons8.com/ios-filled/30/000000/hospital-3.png" /></a></li>
</ul>
</nav>