<ion-header>

</ion-header>

<ion-content>
    <div id="minha-home" class="container-um">
        <div class="home">
            <img src="../../assets/icon/blood-pressure-gauge.png" class="doctor-img" alt="doctor-img">
            <h1><strong>QUEM SOMOS?</strong> </h1>
            <p> Nosso propósito é auxiliar aqueles que, por ter um cotidiano agitado ou até mesmo por não conseguir lembrar, a tomar seus medicamentos em seus devidos horários. Além disso, queremos proporcionar uma forma mais simples e prática para gerenciar seus medicamentos e vacinas e onde achá-los. </p>
            
            <ion-button routerLink="/home">Continuar</ion-button>
        </div>
    </div>
</ion-content>