<ion-header>

</ion-header>

<ion-content>
    <div id="minha-home" class="container-um">
        <div class="home">
            <img src="../../assets/icon/blood-pressure-gauge.png" class="doctor-img" alt="doctor-img">
            <h1>QUEM SOMOS? </h1>
            <p> Nosso proposito é lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printeral. </p>
            <button>Continuar</button>
        </div>
    </div>
</ion-content>