<ion-header [translucent]="true">
  <ion-toolbar light>
    <ion-title><strong>Buscar por Postos</strong> </ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="local-farmacia" class="container-um">
      <div class="inicio-local">
          <ion-icon name="location-outline"></ion-icon>
          <label><strong>Digite seu CEP para encontrar o posto mais próximo</strong></label>
          <br>
          <input type="text" name="search" placeholder="08847-571">
      </div>
      <img src="../../assets/icon/20181218065336.jpg" class="mapa-img" alt="mapa-img">

  </div>


  <nav id="barra_navegacao">
    <ul>
      <li><a href="../busca-local/"><img src="https://img.icons8.com/ios-filled/30/000000/pharmacy-shop.png" /></a></li>
      <li><a href="../meus-alarmes/"><img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/30/000000/external-tablets-hospital-healthcare-flatart-icons-solid-flatarticons.png" /></a>
      </li>
      <li><a href="../home/"><img src="https://img.icons8.com/ios-filled/30/000000/home.png" /></a></li>
      <li><a href="../carteira-de-vacinacao/"><img
                  src="https://img.icons8.com/external-wanicon-solid-wanicon/30/000000/external-vaccine-health-checkup-wanicon-solid-wanicon.png" /></a>
      </li>
      <li><a href="../busca-posto/"><img src="https://img.icons8.com/ios-filled/30/000000/hospital-3.png" /></a></li>
  </ul>
  </nav>
</ion-content>
