@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.container-um {
    background-image: white;
    text-align: center;
    color: black;
}

input {
    border-radius: 10px;
    text-align: center;
    background-color: white;
    color:black;
    margin: 10px;
    padding: 5px;
    border-color: #008FEA;
    border-radius: 12px;
    text-align: center;
    font-family: Rubik;
    
}

img {
    max-width: 700px;
}

.local-farmacia {
    padding: 10px;
}

p {
    padding: 5px;
}

label{
    margin: 2px;
    font-family: Rubik;
  }

.inicio-local {
    padding: 10px;
}

select {
    background-color: white;
    color: black;
    margin: 10px;
    padding: 8px;
    border-color: #008FEA;
    border-radius: 12px;
}

.mapa {
    max-width: 700px;
}

ion-title{
    font-family: Rubik;
    background-color: #008FEA;
    color: white;
    text-align: center;
    
  }
  
  ion-toolbar{
    --background: #008FEA;
  }

nav {
    margin: 0 auto;
    background: #008FEA;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 1.3rem;
}

nav ul li ul li {
    min-width: 190px;
}