@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

.info-vacina {
    display: flex;
    justify-content: space-around;
    font-family: rubik;
}

.container-todo {
    background-color: white;
    border-radius: 10px;
    border-width: 2px;
    border-style: solid;
    border-color:#008FEA;
    font-family: rubik;
    color: black;
}

p{
    text-align: center;
}

.titulo {
    color:  #008FEA;
    text-align: center;
    font-family: rubik;
}

h1 {
    font-size: 25px;
    font-family: rubik;
}

h2 {
    font-size: 20px;
    text-align: center;
    font-family: rubik;
}

.info-pessoa {
    text-align: center;
    color:black;
    background-color: white;
    font-family: rubik;
}

.menu-vacina {
    margin: 8px;
}

.info-filho-vacina {
    background-color: #a0dbff;
    width: 130px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #008FEA;
    padding: 5px;
    justify-content: space-around;
    margin: 5px;
    font-family: rubik;
   
}

.info-filho-vacina2 {
    background-color: white;
    width: 130px;
    border-radius: 15px;
    border-width: 2px;
    border-style: solid;
    border-color: #76cbff;
    padding: 5px;
    justify-content: space-around;
    margin: 5px;
    font-family: rubik;
}

nav {
    margin: 0 auto;
    background: #008FEA;
  width: 100%;
  position: fixed;
  bottom: 0;
  left: 0;
}

nav ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

nav ul li {
    float: left;
    position: relative;
}

nav ul li a {
    display: block;
    text-decoration: none;
    padding: 1.3rem;
}

nav ul li ul li {
    min-width: 190px;
    
}

ion-title{
    font-family: Rubik;
    background-color: #008FEA;
    color: white;
    text-align: center;
    
  }
  
  ion-toolbar{
    --background: #008FEA;
  }

#vaccine_icon{
    width: 110px;
}
