<ion-header>
    <ion-toolbar>
        <ion-title>carteira-de-vacinacao</ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <div class="menu-vacina">
        <div class="info-pessoa">

            <h1> Maria Fernanda Souza </h1>

            <p> O que você precisa saber para proteger você e sua família. Saiba mais informações sobre o COVID clicando <a href="https://www.gov.br/saude/pt-br/coronavirus/como-se-proteger">aqui</a>. </p>
        </div>

        <div class="container-todo">
            <h2> Comprovante de vacinação - COVID </h2>
            <p class="titulo"> COVID-19 SINOVAC/BUTANTAN - CORONAVAC </p>
            <div class="info-vacina">

                <div class="info-filho-vacina">
                    <p> 1ª Dose </p>
                    <p>05/08/2021 BUTANTAN </p>
                </div>
                <div class="info-filho-vacina2">
                    <p> 2ª Dose </p>
                    <p>05/08/2021 BUTANTAN </p>
                </div>

            </div>

        </div>

    </div>

    <nav id="barra_navegacao">
        <ul>
            <li>
                <a href="../busca-local/"><img src="https://img.icons8.com/ios-filled/30/000000/pharmacy-shop.png" /></a>
            </li>
            <li>
                <a href="../alarme/"><img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/30/000000/external-tablets-hospital-healthcare-flatart-icons-solid-flatarticons.png" /></a>
            </li>
            <li>
                <a href="../home/"><img src="https://img.icons8.com/ios-filled/30/000000/home.png" /></a>
            </li>
            <li>
                <a href="../carteira-de-vacinacao/"><img src="https://img.icons8.com/external-wanicon-solid-wanicon/30/000000/external-vaccine-health-checkup-wanicon-solid-wanicon.png" /></a>
            </li>
            <li>
                <a href="../busca-local/"><img src="https://img.icons8.com/ios-filled/30/000000/hospital-3.png" /></a>
            </li>
        </ul>
    </nav>


</ion-content>
