<ion-header>
  <ion-toolbar>
    <ion-title><strong> Meus Alarmes</strong></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div id="alarmes" *ngFor="let remedio of listaRemedios">
    <p>
      <ion-icon name="alarm"></ion-icon><strong> {{remedio.nomeMedicamento}}</strong> 
    </p>

    <div id="infoMedicamento">
      <p>Quantidade disponível: {{remedio.qntdPilula}}</p>
    </div>

    <div id="botoes">
      <ion-button (click)="deletarRemedio(remedio.id)">Excluir</ion-button>
      <ion-button (click)="entradaAtualizacao(remedio.id)">Editar</ion-button>
    </div>  
  </div>

  <div id="semRegistro" *ngIf="listaRemedios.length == 0">
    <p align="center"><strong>Você ainda não tem alarmes cadastrados</strong></p>
    <img id="procurando" src="https://static.vecteezy.com/system/resources/previews/002/736/039/non_2x/doctor-wearing-medical-mask-with-magnifying-glass-character-free-vector.jpg"/>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <a href="../alarme/">
    <ion-fab-button>
      <ion-icon name="arrow-forward-circle"></ion-icon>
    </ion-fab-button>
  </a>
  </ion-fab>

  <nav id="barra_navegacao">
    <ul>
      <li><a href="../busca-local/"><img src="https://img.icons8.com/ios-filled/30/000000/pharmacy-shop.png" /></a></li>
      <li><a href="../meus-alarmes/"><img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/30/000000/external-tablets-hospital-healthcare-flatart-icons-solid-flatarticons.png" /></a>
     </li>
      <li><a href="../home/"><img src="https://img.icons8.com/ios-filled/30/000000/home.png" /></a></li>
      <li><a href="../carteira-de-vacinacao/"><img
                  src="https://img.icons8.com/external-wanicon-solid-wanicon/30/000000/external-vaccine-health-checkup-wanicon-solid-wanicon.png" /></a>
      </li>
      <li><a href="../busca-posto/"><img src="https://img.icons8.com/ios-filled/30/000000/hospital-3.png" /></a></li>
  </ul>
  </nav>

</ion-content>