<ion-header>
  <ion-toolbar>
    <ion-title><strong> Meus Alarmes</strong></ion-title>
  </ion-toolbar>
  
</ion-header>

<ion-content>
  <div id="alarmes" *ngFor="let remedio of listaRemedios">
    <p>
      <ion-icon name="alarm"></ion-icon><strong> {{remedio.nomeMedicamento}}</strong> 
    </p>

    <div id="infoMedicamento">
      <p>Quantidade disponível: {{remedio.qntdPilula}}</p>
    </div>

    <div id="botoes">
      <a href="../meus-alarmes/">
        <ion-button (click)="deletarRemedio(remedio.id)">Excluir</ion-button>
      </a>
      <ion-button (click)="entradaAtualizacao(remedio.id)">Editar</ion-button>
    </div>  
  </div>

  <div id="semRegistro" *ngIf="listaRemedios.length == 0">
    <p align="center"><strong>Você ainda não tem alarmes cadastrados</strong></p>
    <img id="procurando" src="https://static.vecteezy.com/system/resources/previews/002/736/039/non_2x/doctor-wearing-medical-mask-with-magnifying-glass-character-free-vector.jpg"/>
  </div>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <a href="../alarme/">
    <ion-fab-button>
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </a>
  </ion-fab>

<ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <a href="../home/"><img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/30/000000/external-tablets-hospital-healthcare-flatart-icons-solid-flatarticons.png"/></a>
        <ion-label>Remédios</ion-label>
      </ion-tab-button>
  
      <ion-tab-button>
        <a href="../home/"><img src="https://img.icons8.com/ios-filled/33/000000/pharmacy-shop.png" /></a>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button>
        <a href=#><img src="https://img.icons8.com/ios-filled/33/000000/place-marker--v1.png"/></a>
        <ion-label>Farmácias</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>
</ion-content>
