<ion-header [translucent]="true">
  <ion-toolbar light>
    <ion-title><strong>Adicionar Alarme</strong> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="body_alarme">
    <ion-header collapse="condense">
    </ion-header>
    
    <ion-icon name="clipboard-outline"></ion-icon>
    <label><strong>Informe a recomendação médica de uso </strong></label> <br> 
      <ion-input type="text" name="nomeMedicamento" placeholder="nomeMedicamento" [(ngModel)]="nomeMedicamento" id="nomeMedicamento"></ion-input>
   

    <br>
    <ion-icon name="calendar-outline"></ion-icon>
    <label><strong>Informe quando você irá começar</strong></label> <br>
    <ion-input type="number" name="IntervaloH" placeholder="Intervalo/h" [(ngModel)]="intervaloH" id="IntervaloH"></ion-input>
    <select id="selecionarPeriodo">
      <option hidden selected="true">Por quanto tempo você irá tomar ?</option>
      <option value="5">5 dias</option>
      <option value="7">1 semana</option>
      <option value="14">2 semanas</option>
      <option value="21">3 semanas</option>
      <option value="0">Até eu desativar</option>
    </select>
    
    <br><br>
    <ion-icon name="bag-add-outline"></ion-icon>
    <label><strong>Informe a quantidade inicial de pílulas</strong></label> <br>
    <input type="number" name="quantidade_pilulas" [(ngModel)]="quantidade_pilulas" id="quantidade_pilulas">
    <br><br>
    <ion-icon name="water"></ion-icon>
    <label>Líquido</label><br>
    <ion-toggle [(ngModel)]="switch"></ion-toggle>

    <a href="../meus-alarmes/">
    <ion-button (click)="notificarLembrete()">SALVAR
    </ion-button>
    </a>

    <br><br><br><br>

  </div>

  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <a href="../meus-alarmes/"><img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/30/000000/external-tablets-hospital-healthcare-flatart-icons-solid-flatarticons.png"/></a>
        <ion-label>Remédios</ion-label>
      </ion-tab-button>
  
      <ion-tab-button>
        <a href="../home/"><img src="https://img.icons8.com/ios-filled/33/000000/pharmacy-shop.png" /></a>
        <ion-label>Home</ion-label>
      </ion-tab-button>
  
      <ion-tab-button>
        <a href=#><img src="https://img.icons8.com/ios-filled/33/000000/place-marker--v1.png"/></a>
        <ion-label>Farmácias</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-content>