<ion-header [translucent]="true">
  <ion-toolbar light>
    <ion-title><strong>Adicionar Alarme</strong> </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div id="body_alarme">
    <ion-header collapse="condense">
    </ion-header>
    
    <ion-icon name="clipboard-outline"></ion-icon>
    <label><strong>Informe a recomendação médica de uso </strong></label> <br> 
      <ion-input type="text" name="nomeMedicamento" placeholder="nomeMedicamento" [(ngModel)]="nomeMedicamento" id="nomeMedicamento"></ion-input>
    <ion-input type="number" name="IntervaloH" placeholder="Intervalo/h" [(ngModel)]="intervaloH" id="IntervaloH"></ion-input>

    <br>
    <ion-icon name="calendar-outline"></ion-icon>
    <label><strong>Informe quando você irá começar</strong></label> <br>
    <input type="time" name="horario_inicial" id="horario_inicial">
    <input type="date" name="data_inicial" id="data_inicial">

    <select id="selecionarPeriodo">
      <option hidden selected="true">Por quanto tempo você irá tomar ?</option>
      <option value="5 dias">5 dias</option>
      <option value="7 dias">1 semana</option>
      <option value="14 dias">2 semanas</option>
      <option value="21 dias">3 semanas</option>
      <option value="sempre">Até eu desativar</option>
      <option value="adicionarTempo">Personalizar...</option>
    </select>
    
    <br><br>
    <ion-icon name="bag-add-outline"></ion-icon>
    <label><strong>Informe a quantidade inicial de pílulas</strong></label> <br>
    <input type="number" name="quantidade_pilulas" [(ngModel)]="quantidade_pilulas" id="quantidade_pilulas">
    <br><br>
    <ion-icon name="water"></ion-icon>
    <label>Líquido</label><br>
    <ion-toggle [(ngModel)]="switch"></ion-toggle>

    <a href="../meus-alarmes/">
    <ion-button (click)="notificarLembrete()">SALVAR
    </ion-button>
    </a>

    <br><br><br><br>

  </div>
  <nav id="barra_navegacao">
    <ul>
      <li><a href="../busca-local/"><img src="https://img.icons8.com/ios-filled/30/000000/pharmacy-shop.png" /></a></li>
      <li><a href="../meus-alarmes/"><img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/30/000000/external-tablets-hospital-healthcare-flatart-icons-solid-flatarticons.png" /></a>
      </li>
      <li><a href="../home/"><img src="https://img.icons8.com/ios-filled/30/000000/home.png" /></a></li>
      <li><a href="../carteira-de-vacinacao/"><img
                  src="https://img.icons8.com/external-wanicon-solid-wanicon/30/000000/external-vaccine-health-checkup-wanicon-solid-wanicon.png" /></a>
      </li>
      <li><a href="../busca-posto/"><img src="https://img.icons8.com/ios-filled/30/000000/hospital-3.png" /></a></li>
  </ul>
  </nav>

</ion-content>