@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

select{
    background-color: white;
    color:black;
    margin: 10px;
    padding: 8px;
    border-color: #008FEA;
    border-radius: 12px;
    font-family: Rubik;
  }

  #IntervaloH, #nomeMedicamento {
    background-color: white;
    color:black;
    margin: 10px;
    padding: 5px;
    border-color: #008FEA;
    border-radius: 12px;
    font-family: Rubik;
  }
  
  #body_alarme{
    background-color: white;
    color:black;
    padding: 8px;
    font-family: Rubik;
    
  }
  
  #data_inicial, #horario_inicial, #quantidade_pilulas {
    background-color: white;
    color:black;
    margin: 10px;
    padding: 5px;
    border-color: #008FEA;
    border-radius: 12px;
    text-align: center;
    font-family: Rubik;
    
  }
  
  option{
    color: black;
    font-family: Rubik;
  
  }

  label{
    margin: 2px;
    font-family: Rubik;
  }
  
  nav {
      margin: 0 auto;
      background: #008FEA;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
  }
  
  nav ul {
      padding: 0;
      margin: 0;
      list-style: none;
  }
  
  nav ul li {
      float: left;
      position: relative;
  }
  
  nav ul li a {
      display: block;
      text-decoration: none;
      padding: 1.3rem;
  }
  
  nav ul li ul li {
      min-width: 190px;
      
  }
  
  ion-toggle {
    --background: #76cbff;
    --background-checked: #008fea;
    font-family: Rubik;
    --handle-background: #008fea;
    --handle-background-checked: #76cbff;
    width: 50px;
    height: 30px;
  }
  
  #quantidade_pilulas{
    width: 100px;
    font-family: Rubik;
  }
  
  ion-fab-button{
    display:inline-flex;
    margin: 0px;
    margin-bottom: auto;
    padding: 8px;
    margin-left: 0px;
    --background: #008FEA
  }

  ion-title{
    font-family: Rubik;
    background-color: #008FEA;
    color: white;
    text-align: center;
    
  }

  ion-button{
    background-color: white;
    --background: #008FEA;
    color:white;
    border-color: #008FEA;
    --border-radius: 20px;
    font-family: Rubik;
    margin-left: 160px;
  }
  
  ion-toolbar{
    --background: #008FEA;
  }
