/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300&display=swap');

  .alertaAtualizar, .alert.wrapper {
    --backdrop-opacity: 0.5;
    --height:360px;

    .alert-title.sc-ion-alert-md, .alert-title.sc-ion-alert-ios {
        font-size: 20;
        font-family: Rubik;
        font-weight: bold;
        color: black;
    }   
    .alert-message.sc-ion-alert-md, .alert-message.sc-ion-alert-ios {
        color: black;
    }
    .alert-input.sc-ion-alert-md{
        color: black;
        border-color: #008FEA;
        font-family: Rubik;
    }
    .alert-input-wrapper.sc-ion-alert-md{
        color: black;
    }
    .alert-button.sc-ion-alert-md, .alert-button.sc-ion-alert-ios {
        color:white;
        font-weight: bold;
        background-color: #008FEA;
        width: 70px;
        margin-top: 20px;
        border-radius: 20px;
        font-family: Rubik;
    }
    
    #alert-input-1-3 {
        position: absolute;
        margin-top: 15px;
        left: 25px;
        height: 20px;
        width: 55px;
        border:none;
        padding: 1px;
    }

    #alert-input-1-4 {
        text-align: center;
        padding: 200px;
        margin-left: -30px;
        padding: 30px;
        margin-top: 17px;
    }

    
  }
    
   
