<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <ion-toolbar>
    <div class="container">
      <div class="box-container">
        <ion-router-link routerLink=#>
          <div class="box-card">
            <img class="icon-box" src="../../assets/icon/carteira_vacinacao.png" alt="">
            <p class="box-card--title">Carteira de vacinação</p>
          </div>
        </ion-router-link>
        <ion-router-link routerLink=#>
          <div class="box-card">
            <img class="icon-box" src="../../assets/icon/registration.png " alt="">
            <p class="box-card--title">Cadastro de cliente</p>
          </div>
        </ion-router-link>
      </div>
      <div class="box-container">
       
        <ion-router-link routerLink=#>
          <div class="box-card">
            <img class="icon-box" src="../../assets/icon/location.png" alt="">
            <p class="box-card--title">Farmácia</p>
          </div>
        </ion-router-link>
        <ion-router-link routerLink="/meus-alarmes/">
          <div class="box-card">
            <img class="icon-box" src="../../assets/icon/alarm-clock.png" alt="">
            <p class="box-card--title">Alarme</p>
          </div>
        </ion-router-link>
      </div>
    </div>
  </ion-toolbar> 
  <ion-tabs>
    <ion-tab-bar slot="bottom">
      <ion-tab-button>
        <a href="../meus-alarmes/"><img
            src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/30/000000/external-tablets-hospital-healthcare-flatart-icons-solid-flatarticons.png" /></a>
        <ion-label>Remédios</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <a href="../home/"><img src="https://img.icons8.com/ios-filled/33/000000/pharmacy-shop.png" /></a>
        <ion-label>Home</ion-label>
      </ion-tab-button>

      <ion-tab-button>
        <a href=#><img src="https://img.icons8.com/ios-filled/33/000000/place-marker--v1.png" /></a>
        <ion-label>Farmácias</ion-label>
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>

</ion-content>