

<ion-content [fullscreen]="true">
  <br>
  <br>
  <br>
  <ion-toolbar>
    <div class="container">
      <div class="box-container">
        <ion-router-link routerLink="/carteira-de-vacinacao">
          <div class="box-card">
            <img class="icon-box" src="../../assets/icon/carteira_vacinacao.png" alt="">
            <p class="box-card--title">Carteira de vacinação</p>
          </div>
        </ion-router-link>
        <ion-router-link routerLink="/busca-local">
          <div class="box-card">
            <img class="icon-box" src="../../assets/icon/location.png" alt="">
            <p class="box-card--title">Farmácia</p>
          </div>
        </ion-router-link>
      </div>
      <div class="box-container">
        <ion-router-link routerLink="/cadastro-cliente/">
          <div class="box-card">
            <img class="icon-box" src="../../assets/icon/registration.png " alt="">
            <p class="box-card--title">Cadastro de cliente</p>
          </div>
        </ion-router-link>
        <ion-router-link routerLink="/alarme/">
          <div class="box-card">
            <img class="icon-box" src="../../assets/icon/alarm-clock.png" alt="">
            <p class="box-card--title">Alarme</p>
          </div>
        </ion-router-link>
      </div>
    </div>
  </ion-toolbar> 

  <nav id="barra_navegacao">
    <ul>
      <li><a href="../busca-local/"><img src="https://img.icons8.com/ios-filled/30/000000/pharmacy-shop.png" /></a></li>
      <li><a href="../alarme/"><img src="https://img.icons8.com/external-flatart-icons-solid-flatarticons/30/000000/external-tablets-hospital-healthcare-flatart-icons-solid-flatarticons.png" /></a>
     </li>
      <li><a href="../home/"><img src="https://img.icons8.com/ios-filled/30/000000/home.png" /></a></li>
      <li><a href="../carteira-de-vacinacao/"><img
                  src="https://img.icons8.com/external-wanicon-solid-wanicon/30/000000/external-vaccine-health-checkup-wanicon-solid-wanicon.png" /></a>
      </li>
      <li><a href="../busca-local/"><img src="https://img.icons8.com/ios-filled/30/000000/hospital-3.png" /></a></li>
  </ul>
  </nav>



